<!DOCTYPE html>
<html data-ng-app="uoletAngular">
    <head>
        <meta charset="UTF-8">
        <title>Aprendendo Angular</title>        
    </head>
    <body data-ng-controller="UserController as User">
        <h1>{{ User.titulo }}</h1>
        <input type="text" data-ng-model="User.form.name"> 
        <input type="text" data-ng-model="User.form.email">
        <button data-ng-click="User.adicionarUsuario(User.form)">Adicionar</button>
        <button data-ng-click="User.salvarUsuario(User.form)">Save</button>
        <table>
            <tr data-ng-repeat="user in User.users ">
                <td>
                    {{user.name}}
                </td> 
                <td>
                    {{user.email}} 
                </td>   
                <td>
                    <button data-ng-click="User.removerEmail(user.email)">delete</button>
                </td>
                <td>
                    <button data-ng-click="User.editUser(user, $index)">editar</button>
                </td>
            </tr>
        </table>

        <div id="fogo">
            <input class="form-check-input" type="radio" id="badge-agendada" value="agendada">
            <input class="form-check-input" type="radio" id="badge-agendada" value="agendada">
            <span class="badge badge-agendada sortorder">&nbsp;Cancelada&nbsp;</span>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function(){
                $('#fogo').click(function(){
                    $('.form-check-input:checked').addClass('agendada-intern');
                    $('.form-check-input:not(:checked)').removeClass('agendada-intern');
                })
            })            
        </script>

        <script src="node_modules/angular/angular.min.js"></script>
        
        <script>
            angular.module('uoletAngular', [])
            .controller('UserController', userController);

            function userController () {
                var vm = this
                vm.titulo = "Vinicius AngularJs"
                vm.users = [
                    {name: 'eric', email: 'eric@uolet.com'}
                    ,{name: 'juliana', email: 'juliana@uolet.com'}
                    ,{name: 'vinicius', email: 'vinicius@uolet.com'}
                ]
            }
            userController.prototype.adicionarUsuario = function (user) {
                var vm = this
                vm.users.push(angular.copy(user))
            }
            userController.prototype.removerEmail = function(email){
                var vm = this
                vm.users = vm.users.filter(function(el){
                    return el.email !== email
                })
            }
            userController.prototype.editUser = function (user, index) {
                var vm = this
                vm.form = angular.copy(user)
                vm.form.index = index
            }
            userController.prototype.salvarUsuario = function (user){
                var vm = this
                var users = vm.users.map(function(el, i){
                    if (i === user.index){
                        delete user.index
                        return user
                    }
                    return el
                })
                vm.users = angular.copy(users)
            }
        </script>
        
    </body>
</html>